
<div style="height: 100%;">


  

  <nav class="menu">


ppp
          <a mat-button  >
                  <i class="fas fa-plus-circle"></i> &nbsp;&nbsp;New</a>

          <a mat-button routerLink="Dashboard" >
                  <i class="fas fa-th"></i> &nbsp;&nbsp;Dashboard</a>

          

          <p class="section-heading" >Personal</p>



          <a mat-button  >
                  <i class="fas fa-file-prescription"></i> &nbsp; Prescriptions</a>
          <a mat-button  >
                  <i class="far fa-user"></i> &nbsp;&nbsp; Profile</a>

          <p class="section-heading" >Other</p>


          

          <!-- <a  mat-button *ngIf="loggedIn" (click)="logout()">Logout</a> -->

  </nav>



  <p class="pwa">This app is Progressive Web App which means it can run offline and you can add it to homescreen.</p>




</div>