<head><!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127453011-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'UA-127453011-1');
  </script>
  </head>
<div class="topnav">
  <a class="active" routerLink="">Home</a>
  <a routerLink="/about">About</a>
  
  <a routerLink="/articleNew">Write Article</a>
  
  <a routerLink="/signin" *ngIf="!isLoggedIn">Sign In</a>
  <a routerLink="/profile" *ngIf="isLoggedIn"><i class="fas fa-user "></i> Profile</a>
  <a *ngIf="isLoggedIn" (click)="logout()" > Logout</a>
  <a *ngIf="isLoggedIn" routerLink="/myarticles">My Publications</a>
  <div class="search-container">
    <form action="/action_page.php">
      <input type="text" placeholder="Search.." name="search">
      <button ><i class="fa fa-search"></i></button>
    </form>
  </div>
</div> 