


.background{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    
    background-image: url("https://www.sevenforums.com/attachments/general-discussion/250721d1486599828t-any-ideas-how-my-login-background-screen-changed-its-own-backgrounddefault.jpg");
    background-size: cover;
  }
  
  
  .card{
    padding: 100px 10px;
    width: 100%;
    margin: auto;
  }
  
  .info{
    width: 100%;
  }
  
  
  .signin-card{
    display: block;
    margin-left: auto;
    margin-right: auto;
  
  }
  
  .signin-tab-group{
    width: 100%;
  
  }
  
  
  @media only screen and (min-width: 600px) {
      /* For desktop: */
  
    .card{
      width: 40%;
      float: right;
    }
  
    .info{
      width: 60%;
      float: left;
    }
    .signin-card{
      width: 370px;
    }
  
  }
  
  
  .form{
    padding: 20px 20px;
    display: table;
    width: 100%;
    height: 250px;
  }
  .form-element{
    align-self: center;
    width: 100%;
    margin: auto;
  }
  
  
  .inner-form{
    display: table-cell;
    vertical-align: middle;
  }
  
  
  .table-signin-providers{
    width: 100%;
  }
  
  
  .centered-horizontal {
      display: table;
      margin: 0 auto;
  }
  
  /*
  
  .signin-card {
  
  
    float: right;
    clear: both;
  }
  
  .example-header-image {
    background-image: url('https://www.w3schools.com/howto/img_avatar2.png');
    background-size: cover;
  }
  .example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
  .sign-tab-group{
  
  } */
  