

<div class="row">
<div *ngIf="!isLoggedIn"> Please signin to write article <a routerLink="../signin" *ngIf="!isLoggedIn">Sign In</a></div>
<div *ngIf="isLoggedIn">
  <div class="col-for-sides" *ngIf="isLoggedIn"></div>

  <div class="col-for-page padding-responsive">


    <div class="form">

        <h2>Post a article.</h2>

          <mat-form-field>
            <input matInput  [(ngModel)]="title"  placeholder="Title">
          </mat-form-field>
          <mat-form-field>
            <input matInput  [(ngModel)]="author"  placeholder="Author">
          </mat-form-field>




<!--
          <mat-form-field>
            <mat-select placeholder="Select">
              <mat-option value="option">Option</mat-option>
            </mat-select>
          </mat-form-field> -->

          <form>
            <mat-form-field class="demo-chip-list">
              <mat-chip-list #chipList>
                  <mat-chip
                  *ngFor="let tag of tags"
                  [selectable]="selectable"
                  [removable]="removable"
                  (removed)="remove(tag)">
                  {{tag}}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input
                  placeholder="Tags..."
                  #tagInput
                  [formControl]="tagCtrl"
                  [matAutocomplete]="auto"
                  [matChipInputFor]="chipList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  [matChipInputAddOnBlur]="addOnBlur"
                  (matChipInputTokenEnd)="add($event)"
                />
              </mat-chip-list>
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
                  {{ tag }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </form>

          <td-text-editor id="editor" [(ngModel)]="description"  [options]="simplemdeoptions"></td-text-editor>



          <!-- <mat-form-field class="form-element" appearance="outline">
            <mat-label>External Attachment</mat-label>
            <input matInput [(ngModel)]="externalAttachment" type="text" placeholder="Paste link" >
            <mat-icon matSuffix>link</mat-icon>
            <mat-hint>You may usse Google Drive, Dropbox etc.<a href="https://files.fm/" target="blank">File.fm</a> is nice tool.
              <br>Use <a href="https://stackblitz.com" target="blank">Stak blitz</a> and <a href="https://codepen.io" target="blank">Code pen</a> etc for code purposes


            </mat-hint>

          </mat-form-field> -->
          <br>

            <div class="button-row">
              <button class="centered-horizontal" mat-raised-button color="accent" *ngIf="!loading" (click)="posting()" >Submit</button>
              <mat-spinner class="centered-horizontal"   diameter="30"  *ngIf="loading"></mat-spinner>
            </div>








    </div>






  </div>
 



</div>
</div>